<h1>Patient Records</h1>
<div>
    <table class="table table-bordered table-responsive-md table-striped text-center" style="width:80%">
    <tr>    
    <th class="text-center">First Name</th>    
    <th class="text-center">Last Name</th>    
    <th class="text-center">Date of Birth</th>    
    <th class="text-center">Gender</th>
    </tr>
    <tr *ngFor="let client of clients">    
        <td> {{ client.first_name }}</td>    
        <td> {{ client.last_name }}  </td>    
        <td> {{ client.dob }}</td> 
        <td> {{ client.gender }} </td>
    </tr>
   </table>
</div>

